<div class=" uk-padding"  >
  

    <table class="uk-table uk-table-striped">
        <thead>
          
            <tr>
           <div>
                <th>$key</th>
                <th>name</th>
                <th>phone</th>
                <th>skill</th>
                <th>province</th>
                <th>price</th>
                <th>actions</th>
            </div>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemArray">
                <div *ngIf="item.uid === myUid" >
                <td>{{item.$key}}</td>
                <td>{{item.name}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.skill}}</td>
                <td>{{item.province}}</td>
                <td>{{item.price}}</td>
                <td> <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example" (click)="editForm(item.$key)">Edit</button></td>
                <td> <button class="uk-button uk-button-danger uk-button-small" (click)="onDelete(item.$key)" >Delete</button></td>


                <!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
 
        <fieldset class="uk-fieldset">
 
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="اسمك" name="name"   [(ngModel)]="data.name">
            </div>
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="رقم الهاتف" name="phone"  [(ngModel)]="data.phone">
            </div>
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="المهارة" name="skill"  [(ngModel)]="data.skill">
            </div>
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="المحافظة" name="province"  [(ngModel)]="data.province" >
            </div>
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="السعر" name="price"  [(ngModel)]="data.price">
            </div>
 
            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" placeholder="ملاحظات" name="comments"  [(ngModel)]="data.comments"></textarea>
            </div>
     
        </fieldset>
 
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" (click)="onEdit(item.$key)" >Save</button>
        </p>
    </div>
</div>

</div>
            </tr>

 
        </tbody>
    </table>
    
</div>
 






 