<div class="uk-padding">

    <div class="uk-card uk-card-default uk-card-body  ">
        <h3 class="uk-card-title">  الدخول</h3>
      
   


  <fieldset class="uk-fieldset">
 

      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="البريد الالكتروني" name="email" [(ngModel)]="email">
      </div>
      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="كلمة السر" name="password" [(ngModel)]="password">
      </div>

 
 

      <div class="uk-margin">
          <button class="uk-button uk-button-primary" (click)="myLogin()">الدخول</button>
      </div>

  </fieldset>
 


</div>

</div>