<div class=" uk-padding ">

<div class="uk-card uk-card-default uk-padding ">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="80" height="100" src="assets/img/person.png">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Email : {{data.email}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">name : {{data.name}}</p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p> {{data.comments}}.</p>
    </div>
    <div class="uk-card-footer">
        <p>phone : {{data.phone}}</p>
        <p>province : {{data.province}}</p>
        <p>price : {{data.price}}</p>
    </div>
</div>
</div>


